<!-- -->
<launch>
  <arg name='host' default='127.0.0.1'/>
  <arg name='port' default='2000'/>
  <arg name='n' default='70'/>
  <arg name='w' default='70'/>
  <arg name='safe' default='True'/>
  <arg name='filterv' default='vehicle.*'/>
  <arg name='generationv' default='All'/>
  <arg name='filterw' default='walker.pedestrian.*'/>
  <arg name='generationw' default='2'/>
  <arg name='tm-port' default='8000'/>
  <arg name='asynch' default='False'/>
  <arg name='hybrid' default='False'/>
  <arg name='seed' default='None'/>
  <arg name='seedw' default='0'/>
  <arg name='car-lights-on' default='False'/>
  <arg name='hero' default='False'/>
  <arg name='respawn' default='False'/>
  <arg name='no-rendering' default='False'/>

  <node name="carla_traffic_generator" pkg="traffic_generator" type="carla_traffic_generator.py" output="screen">
    <param name='host'           type="string" value="$(arg host)"/>
    <param name='port'           type="int" value='$(arg port)'/>
    <param name='n'              type="int" value="$(arg n)"/>
    <param name='w'              type="int" value="$(arg w)"/>
    <param name='safe'           type="bool" value="$(arg safe)"/>
    <param name='filterv'        type="string" value="$(arg filterv)"/>
    <param name='generationv'    type="string" value="$(arg generationv)"/>
    <param name='filterw'        type="string" value="$(arg filterw)"/>
    <param name='generationw'    type="string" value="$(arg generationw)"/>
    <param name='tm-port'        type="int" value="$(arg tm-port)"/>
    <param name='asynch'         type="bool" value="$(arg asynch)"/>
    <param name='hybrid'         type="bool" value="$(arg hybrid)"/>
    <param name='seed'                       value="$(arg seed)"/>
    <param name='seedw'          type="int" value="$(arg seedw)"/>
    <param name='car-lights-on'  type="bool" value="$(arg car-lights-on)"/>
    <param name='hero'           type="bool" value="$(arg hero)"/>
    <param name='respawn'        type="bool" value="$(arg respawn)"/>
    <param name='no-rendering'   type="bool" value="$(arg no-rendering)"/>
  </node>
</launch>


<!--<arg name='host'           type="string" value="$(arg 127.0.0.1)"/>
    <arg name='port'           value='$(arg 2000)'/>
    <arg name='n'              value="$(arg 30)"/>
    <arg name='w'              value="$(arg 2000)"/>
    <arg name='safe'           value="$(arg True)"/>
    <arg name='filterv'        value="$(arg vehicle.*)"/>
    <arg name='generationv'    value="$(arg G)"/>
    <arg name='tm-port'        value="$(arg 8000)"/>
    <arg name='asynch'         value="$(arg False)"/>
    <arg name='hybrid'         value="$(arg False)"/>
    <arg name='seed'           value="$(arg None)"/>
    <arg name='seedw'          value="$(arg 0)"/>
    <arg name='car-lights-on'  value="$(arg False)"/>
    <arg name='hero'           value="$(arg False)"/>
    <arg name='respawn'        value="$(arg False)"/>
    <arg name='no-rendering'   value="$(arg False)"/>-->