<launch>
	<node pkg="rosbag" type="play" name="player" args="/home/carla/admt_student/team3_ss23/data/carissma/Data_collection/02_bike/01_day/01_clear_weather/01_28m/90deg_camera.bag -l"/>
	<node name="img_subscriber" pkg="monocam_3D_object_detection" type="img_subscriber.py" output="screen">
		<!-- Model parameters -->
		<param name="config_path"          type="String" value="/home/carla/admt_student/team3_ss23/AVE6_project/dd3d/trained_final_weights/v99.yaml"/>
		<param name="model_checkpoint_path" type="String" value="/home/carla/admt_student/team3_ss23/AVE6_project/dd3d/trained_final_weights/v99.pth"/>
		<param name="pre_nms_thresh"        type="double" value="0.1"/>
		<param name="nms_thresh"            type="double" value="0.2"/>
		
		<!-- Image parameters-->
		<param name="ORIG_IMG_WIDTH"       type="int" value="1936"/>
		<param name="ORIG_IMG_HEIGHT"      type="int" value="1464"/>
		<param name="TARGET_RESIZE_WIDTH"  type="int" value="1200"/> <!-- 1452, 968, 640 -->
		<param name="TARGET_HEIGHT_IGNORANCE_PIXELS_FROM_TOP" type="int" value="0"/>
		
		<!-- Node parameters-->
		<param name="camera_info_topic"            type="String" value="/camera_info"/>
		<param name="camera_img_topic"             type="String" value="/adapted_arena_camera/compressed"/>
		<param name="realcam_capture"              type="bool" value="true"/>
		<param name="rviz_marker_retain_duration"  type="int" value="100"/> <!-- Duration to display markers in (ms) -->
		<param name="marker_output_topic"          type="String" value="rgb_front/markers"/>
		<param name="debug_enable_intern_vis"      type="bool" value="true"/>
		<param name="rviz_cam_output_frame"        type="String" value="arena_camera"/>

		<!-- Vehicle filtering parameters-->
		<param name="min_trackwidth" type="double" value="1.3"/>
		<param name="max_trackwidth" type="double" value="2.5"/>
		<param name="min_wheelbase"  type="double" value="3.5"/>
		<param name="max_wheelbase"  type="double" value="5.8"/>
		<param name="car_min_height" type="double" value="0.5"/>
		<param name="car_max_height" type="double" value="2.5"/>

		<!-- Pedestrian filtering parameters-->
		<param name="max_base"   type="double" value="2.5"/>
		<param name="min_height" type="double" value="1.2"/>
		<param name="max_height" type="double" value="2.2"/>		
	</node>
	<node type="rviz" name="rviz" pkg="rviz" args="-d /home/carla/admt_student/team3_ss23/AVE6_project/carissma.rviz"/>
	<node type="carissma_tf_caminfo_broadcaster.py" name="carissma_converter" pkg="monocam_3D_object_detection" output="screen"/>
	
	<?ignore
	<node pkg="rosbag" type="play" name="player" args="/home/carla/admt_student/team3_ss23/data/carissma/Data_collection/01_pedestrian/01_day/01_clear_weather/02_56m/90deg_camera.bag -r 0.1 -l"/>
		
	<node pkg="rosbag" type="play" name="player" args="/home/carla/admt_student/team3_ss23/data/carissma/Data_collection/03_car/01_day/01_clear_weather/04_112m/45deg_camera.orig.bag -r 0.1 -l"/>
	?>
	
</launch>

